@font-face {
    font-family: Avenir;
    src: url(fonts/avenir.ttc);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
    font-size: 1em;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    min-width: 600px;
    background: #34AADC;
}

header h1 {
    text-align: center;
    margin: 10px;
    
    font-weight: 500;
    color: white;
}

nav {
    padding: 10px;
    
    text-align: center;
    
    background: #5AC8FB;
}

.nav-link {
    display: inline;
    margin: 10px;
}

.nav-link a {
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 4px;
}

.nav-link a:link {
    text-decoration: none;
}

.nav-link a:visited {
    text-decoration: none;
}

.nav-link a:hover {
    color: white;
    background: #218ebd;
}

.nav-link a:active {
    color: #5AC8FB;
    background: white;
}

.active-link {
    position: relative;
    text-align: center;
}




