@font-face {
    font-family: Avenir;
    src: url(fonts/avenir.ttc);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
    font-size: 1em;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    min-width: 600px;
    background: #34AADC;
    z-index: 100;
}

header h1 {
    text-align: center;
    margin: 10px;
    
    font-weight: 500;
    color: white;
}

nav {
    padding: 10px;
    
    text-align: center;
    
    background: #5AC8FB;
}

.nav-link {
    display: inline;
    margin: 10px;
}

.nav-link a {
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 4px;
}

.nav-link a:link {
    text-decoration: none;
}

.nav-link a:visited {
    text-decoration: none;
}

.nav-link a:hover {
    color: white;
    background: #218ebd;
}

.nav-link a:active {
    color: #5AC8FB;
    background: white;
}

.active-link {
    position: relative;
    text-align: center;
}

.active-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 8px dashed;
    border-bottom: 8px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin-left: 8px;
}

main {
    position: absolute;
    top: 106px;
    width: 100%;
}

.main-column {
    position: absolute;
    
    left: 50%;
    transform: translate(-50%);
    
    width: 560px;
    max-width: 560px;
    min-width: 560px;
    
    margin-top: 2em;
    margin-bottom: 2em;
}

.card {
    box-sizing: border-box;
    padding: 1em;
    margin-top: 1em;
    text-align: left;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.2);
    box-shadow: 0 0 2px rgba(0,0,0,.2);
}

.card h2 {
    margin: 0;
}

.card p {
    margin: 0.5em 0 0 0;
}

.links-area {
    background-color: #ffffcc;
}

.link {
    display: inline-block;
    position: relative;
    width: 33%;
    height: 80px;
    
    border-radius: 6px;
    background: gray;
}

.uri-image {
    float: right;
    height: 123px;
    width: 123px;
    margin-left: .5em;
    border-radius: 3px;
    background: url(images/URI.jpg);
    background-size: contain;
}

.logo-container {
    display: inline-block;
    height: 8em;
    width: 7em;
    border-radius: 3.5em;
    background-size: contain;
    margin-top: 1em;
    margin-right: 1em;
}

div.logo-container:last-child {
    margin-right: 0;
}

.logo {
    display: inline-block;
    height: 7em;
    width: 7em;
    border-radius: 3.5em;
    background-size: contain;
}

.logo-label {
    text-align: center;
    font-weight: bold;
}

.java {
    background: url(images/java.png);
    background-size: contain;
}

.html5 {
    background: url(images/html5.png);
    background-size: contain;   
}

.css {
    background: url(images/css.png);
    background-size: contain;   
}

.js {
    background: url(images/js.png);
    background-size: contain;  
}